#contact_modal {
    display: none;
    position: fixed;
  top: 50px;
  left: 25%;
  width: 70%;
}

.photograph-header {
    background-color: #FAFAFA;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin: 0 5%;
    padding: 5%;
   
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 35px 35px;
    margin: auto;
}

.modal header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.modal p {
    margin: 0;
}

 form .user-text {
    height: 120px;
}

.modal header img {
    cursor: pointer;
    position: absolute;
  top: 2%;
  right: 22%;
}

.modal_name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}
.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin: 0;

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    margin-top: 30px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.presentation_card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer_info {
    width: 100%;
    height: 100%;
}

.presentation_photograph {
    width: 30%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.photograph-photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.presentation_name {
    font-size: 2rem;
    font-weight: bold;
    color: #D3573C;
    margin: 0;
}
  

.presentation_location {
    font-size: 1.5rem;
    color: #901C1C;
}

.presentation_description{
   
   color: #525252;
}

.presentation_blocPrix{
   padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color:#D98676 ;
}

.presentation_photo{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_media{
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
}

.media_galerie{
    width : 100%; ;
    height : 20rem; ;
    cursor: pointer;
    object-fit: cover;

}

.media_card{
   width: 80%;
  margin: 0 10%;
   display: flex;
   flex-wrap: wrap; 
    justify-content: space-around;
}

.likes_titles{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.media_detail{
    width: 20rem;
    height: 20rem;
    margin: 2rem;
}

p.media_title {
    padding: 0;
    color: #901C1C;
}

p.media_likes {
    padding-right: 0;
    padding-left: 0;
    color: #901C1C;
}

#lightbox {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;

}

.close{
    position: absolute;
    top: 0;
    right: 0;
    color: #901C1C;
   z-index: 1;
    cursor: pointer;
    font-size: 2rem;
}


.lightbox_content {
  background-color: #FAFAFA;
  border: solid 1px #901C1C;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.lightbox_detail {
    border: solid 1px #901C1C;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#lightbox .chevron_left {
    position: absolute;
    top: 50%;
    left: 10px;
}

#lightbox .chevron_right {
    position: absolute;
    top: 50%;
    right: 10px;
}

.chevron {
    color: #901C1C;
    font-size: 40px;
    cursor: pointer;
}

img.lightbox_img{
    width: 100%;
    height: 100%;
}

video.lightbox_video{
    width: 100%;
    height: 100%;
}


